# Решение практических заданий pandas

Любым удобным для вас способом создайте dataframe c именем my_data,  
в котором две колонки c именами (type - строки, value - целые числа) и четыре наблюдения в каждой колонке:  
| type | value |
| --- | --- |
| A | 10 |
| A | 14 |
| B | 12 |
| B | 23 |

In [1]:
import pandas as pd

my_data = pd.DataFrame({'type': ['A', 'A', 'B', 'B'], 'value': [10, 14, 12, 23]})
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

В dataframe с именем my_stat сохранено 20 строк и четыре колонки (V1, V2, V3, V4):  
В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.  
В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.  
Помните, что нумерация индексов строк и колонок начинается с 0.  
Обратите внимание, получившиеся subset_1 и subset_2 - тоже должны быть dataframe.

In [2]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')

subset_1 = my_stat.iloc[:10, [0, 2]]
subset_2 = my_stat.drop([0, 4]).iloc[:, [1, 3]]

В dataframe с именем my_stat четыре колонки V1, V2, V3, V4:  
В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1 строго больше 0, и значение переменной V3 равняется 'A'.  
В переменную subset_2 сохраните только те наблюдения, у которых значения переменной V2 не равняются 10, или значения переменной V4 больше или равно 1.  
Как и в предыдущей задаче результат фильтрации - это тоже dataframe.

In [3]:
subset_1 = my_stat.loc[(my_stat.V1 > 0) & (my_stat.V3 == 'A')]
subset_2 = my_stat.query('V2 != 10 | V1 >= 1')

В переменной my_stat лежат данные с которыми вам необходимо проделать следующее дейтвие.  
В этих данных (my_stat) создайте две новые переменных:  
V5 = V1 + V4  
V6 = натуральный логарифм переменной V2

In [4]:
import numpy as np

my_stat['V5'] = my_stat.V1 + my_stat.V4
my_stat['V6'] = np.log(my_stat.V2)

Переменные V1, V2  ... такие имена никуда не годятся. С такими названиями легко запутаться в собственных данных и в результате ошибиться в расчетах.  
Переименуйте колонки в данных  my_stat следующим образом:  
V1 -> session_value  
V2 -> group  
V3 -> time  
V4 -> n_users

In [5]:
my_stat = my_stat.rename(columns={'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'})

В dataframe с именем my_stat сохранены данные с 4 колонками: session_value, group, time, n_users.  
В переменной session_value замените все пропущенные значения на нули.  
В переменной n_users замените все отрицательные значения на медианное значение переменной n_users (без учета отрицательных значений, разумеется).  
Как получить медиану переменной n_users без учета отрицательных значений?

In [6]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

my_stat = my_stat.fillna(0)

n_users_median = my_stat.loc[my_stat.n_users >= 0].n_users.median()
my_stat.loc[my_stat.n_users < 0, 'n_users'] = n_users_median

В этой задаче для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group),  
в получившемся dataframe переменная group не должна превратиться в индекс.  
Также переименуйте колонку со средним значением session_value в mean_session_value.  
Получившийся результат сохраните в dataframe с именем mean_session_value_data.

In [7]:
mean_session_value_data = my_stat.groupby("group", as_index=False).session_value.agg({'mean_session_value':'mean'})